@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-Book.eot');
  src: url('../cdn/font/CooperHewitt-Book.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-Book.woff') format('woff'), url('../cdn/font/CooperHewitt-Book.ttf') format('truetype'), url('../cdn/font/CooperHewitt-Book.svg#Book') format('svg');
  font-weight: 500; }

@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-Bold.eot');
  src: url('../cdn/font/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-Bold.woff') format('woff'), url('../cdn/font/CooperHewitt-Bold.ttf') format('truetype'), url('../cdn/font/CooperHewitt-Bold.svg#Bold') format('svg');
  font-weight: 700; }

@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-MediumItalic.eot');
  src: url('../cdn/font/CooperHewitt-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-MediumItalic.woff') format('woff'), url('../cdn/font/CooperHewitt-MediumItalic.ttf') format('truetype'), url('../cdn/font/CooperHewitt-MediumItalic.svg#MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-Light.eot');
  src: url('../cdn/font/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-Light.woff') format('woff'), url('../cdn/font/CooperHewitt-Light.ttf') format('truetype'), url('../cdn/font/CooperHewitt-Light.svg#Light') format('svg');
  font-weight: 300; }

@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-Heavy.eot');
  src: url('../cdn/font/CooperHewitt-Heavy.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-Heavy.woff') format('woff'), url('../cdn/font/CooperHewitt-Heavy.ttf') format('truetype'), url('../cdn/font/CooperHewitt-Heavy.svg#Heavy') format('svg');
  font-weight: 900; }

@font-face {
  font-family: "Cooper Hewitt";
  src: url('../cdn/font/CooperHewitt-BoldItalic.eot');
  src: url('../cdn/font/CooperHewitt-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../cdn/font/CooperHewitt-BoldItalic.woff') format('woff'), url('../cdn/font/CooperHewitt-BoldItalic.ttf') format('truetype'), url('../cdn/font/CooperHewitt-BoldItalic.svg#BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #f2f2f2;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  font: 1.2em "Cooper Hewitt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #111; }

img {
  max-width: 100%; }

a {
  color: #069;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  a:hover, a:active, a:focus {
    color: #002233; }

ul {
  list-style: square;
  padding: 0 0 0 1em; }

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 300;
  margin: 0;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2em; }

h2, .h2 {
  font-size: 1.5em; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.wrap {
  max-width: 1100px;
  margin: 0 auto; }

.header-dark header {
  border-color: #004466; }

.header-darker header {
  border-color: #002233; }

.grid::after {
  content: '';
  display: table; }

.g--half {
  float: left; }

.g--half {
  width: 50%; }

@media (min-width: 45em) {
  .g--two-thirds {
    float: left;
    width: 65%; }
  .g--one-third {
    float: left;
    width: 35%; } }

.page-header {
  background: #069;
  color: #f2f2f2;
  position: relative;
  border-top: 0.5em solid #069; }
  .page-header .logo {
    font-weight: 900;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    padding-top: 0.5em; }
    .page-header .logo a {
      color: inherit; }
  .page-header .page-description {
    display: none;
    visibility: none; }
  @media (min-width: 20em) {
    .page-header {
      overflow: auto; }
      .page-header .logo {
        width: 30%;
        float: left; } }
  @media (min-width: 30em) {
    .page-header .logo__j::after {
      content: 'AI'; }
    .page-header .logo__c::after {
      content: 'AB'; } }
  @media (min-width: 60em) {
    .page-header {
      padding-left: 1em;
      color: #069;
      background: none; }
      .page-header .logo {
        font-size: 2em;
        width: auto;
        text-align: left; }
      .page-header .page-description {
        display: block;
        visibility: visible;
        font-weight: 500;
        font-size: 0.5em;
        line-height: 1;
        padding: 0.5em 0 1em 0; }
      .page-header .logo__j::after {
        content: 'AIME'; }
      .page-header .logo__c::after {
        content: 'ABALLERO'; }
      .page-header .logo__c::before {
        content: ' '; } }

.footer {
  clear: both;
  padding: 1em;
  background: #333;
  color: #f2f2f2;
  margin-top: 1em; }

.page-nav {
  font-weight: 900;
  text-align: center;
  line-height: 2; }
  .page-nav li:nth-child(1) a {
    background: #004466; }
  .page-nav li:nth-child(2) a {
    background: #002233; }
  .page-nav li:nth-child(3) a {
    background: black; }
  @media (min-width: 20em) {
    .page-nav {
      width: 70%;
      float: right;
      line-height: 3; }
      .page-nav li {
        width: 50%;
        float: left; } }
  @media (min-width: 60em) {
    .page-nav {
      width: auto;
      float: right;
      line-height: 2;
      font-size: 1.2em; }
      .page-nav li {
        width: auto; } }

.page-nav__link {
  display: block;
  color: #f2f2f2;
  padding-top: 0.5em;
  -webkit-box-shadow: 0 0 #f2f2f2 inset;
  box-shadow: 0 0 #f2f2f2 inset;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s; }
  .page-nav__link:hover, .page-nav__link:focus, .page-nav__link:active {
    -webkit-transition: color 0.25s, -webkit-box-shadow 0.5s 0 cubic-bezier(0.06, 0.94, 0.66, 1.63);
    transition: color 0.25s, box-shadow 0.5s 0 cubic-bezier(0.06, 0.94, 0.66, 1.63);
    -webkit-box-shadow: 0 -3.6em #f2f2f2 inset;
    box-shadow: 0 -3.6em #f2f2f2 inset;
    color: #069; }
  @media (min-width: 60em) {
    .page-nav__link {
      text-transform: lowercase;
      padding: 2em 2em 0.5em 2em;
      color: #069;
      background: none !important; } }

.pagination {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0; }

.pagination__prev, .pagination__next {
  display: inline-block;
  color: #333;
  padding: 1em;
  font-weight: 300; }
  .pagination__prev a, .pagination__next a {
    font-weight: 500; }

.home-section, .home-aside {
  padding-top: 0.5em; }

.home-aside {
  padding-left: 1em;
  padding-right: 1em; }

@media (min-width: 60em) {
  .home-section, .home-aside {
    padding-top: 0; } }

.posts {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #069;
  text-shadow: 0 1px 0 #002233; }
  .posts .post__link:nth-child(1) {
    background: #00334d; }
  .posts .post__link:nth-child(2) {
    background: #004466; }
  .posts .post__link:nth-child(3) {
    background: #005580; }
  .posts .post__link:nth-child(4) {
    background: #006699; }
  .posts .post__link:nth-child(5) {
    background: #0077b3; }
  .posts .post__link:nth-child(6) {
    background: #0088cc; }
  .posts .post__link:nth-child(7) {
    background: #0099e6; }
  .posts .post__link:nth-child(8) {
    background: #00aaff; }
  .posts .post__link:nth-child(9) {
    background: #1ab2ff; }
  .posts .post__link:nth-child(10) {
    background: #33bbff; }
  .posts .post__link:nth-child(11) {
    background: #4dc3ff; }

.post__link {
  color: #f2f2f2;
  padding: 1em 1em 1em 0; }
  .post__link:hover, .post__link:active, .post__link:focus {
    background: #333 !important; }
  @media (min-width: 60em) {
    .post__link {
      margin-left: -700px;
      padding-left: 700px; } }

.post__time {
  font-weight: 300;
  display: block;
  text-align: right; }

.post__link a {
  display: block;
  color: #f2f2f2;
  padding-left: 0.5em; }
/*# sourceMappingURL=main.css.map */