
.header {
  position: relative;
}

.header__top {
  overflow: hidden;
}

.header--main {
  .header__top {
    margin: 1.5em 2em 1.75em;
  }

  @include mq($from: medium) {
    .header__top {
      margin: 3em 1em 4.5em;
    }
    .logo {
      object, img {
        width: 50px;
        height: 50px;
      }
    }
  }

  @include mq($from: big) {
    .header__top {
      margin: 3em 1em 3.5em;

      .wrap {
        overflow: hidden;
      }
    }

    .logo {
      float: left;
      margin: 0 0 0 .5em;

      object, img {
        width: 45px;
        height: 45px;
      }
    }
    .nav--main {
      float: right;
      a {
        padding-top: .5em;
        padding-bottom: .5em;
      }
    }
  }

}
