.l-header__author {
  line-height: 0;
}

.l-header--main {
  margin: 1.5em 1em 2.25em;

  @include mq($from: medium) {
    margin: 3em 1em 4.5em;

    .c-logo {
      margin-top: 2.5em;
      width: 50px;
      height: 50px;
    }
  }

  @include mq($from: big) {
    margin: 3em 1em 3.5em;

    .u-wrap {
      overflow: hidden;
    }

    .c-logo {
      float: left;
      width: 45px;
      height: 45px;
      margin: 0 0 0 .5em;
    }

    .l-nav--main {
      float: right;
      a {
        padding-top: .5em;
        padding-bottom: .5em;
      }
    }
  }

}
