
.wrap {
  padding: 0 1em;
}

@include mq($from: medium) {
  .wrap {
    margin: 0 1em;
  }
}

@include mq($from: mediumx) {
  .wrap {
    margin: 0 3em;
  }
}


@include mq($from: big) {
  .wrap {
    margin: 0 auto;
    width: 44.5em;
    width: calc(43.25em + 2vw);
  }
}