
.u-wrap {
  margin: 0 1em;
}

@include mq($from: smallx) {
  .u-wrap {
    margin: 0 2em;
  }
}

@include mq($from: mediumx) {
  .u-wrap {
    margin: 0 3em;
  }
}


@include mq($from: big) {
  .u-wrap {
    margin: 0 auto;
    width: 43.5em;
    width: calc(42.25em + 2vw);
  }
}
