
// COLOURS

$color-bg: mix(#fafafa, #FBF7E5, 90%);
$color-text: #333;
$color-brand: #006699;
$color-brand-light: mix($color-brand, $color-bg, 20%);


// FONTS

$font-primary:  'Crimson Text',
  Adobe Garamond Pro, Georgia, serif;
$font-primary-initial: Adobe Garamond Pro, Georgia, serif;

$font-secondary: 
    'Circular', 'Montserrat', 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

$font-secondary-initial: 
    'Circular',  
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;


// MQ

$mq-breakpoints: (
    smalls:     240px,
    small:      20em,
    smallx:     30em,
    medium:     40em,
    mediumx:    45em,
    big:        55em,
    bigx:       60em,
    wide:       1350px
);

