
$color-bg: mix(#fafafa, #FBF7E5, 90%);
$color-text: #111;
$color-brand: #006699;

$font-primary:  'Crimson Text',
  Adobe Garamond Pro, Georgia, serif;
$font-primary-initial: Adobe Garamond Pro, Georgia, serif;

$font-secondary: 
    'Circular', 'Montserrat', 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

$font-secondary-initial: 
    'Circular',  
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
