
// Creates the font-face for Cooper Hewitt
@mixin ch($path, $bold: 500, $italic: false){

  @font-face {
    font-family: "Cooper Hewitt";
    src: url('//cdn.jaicab.com/font/CooperHewitt-' + $path + '.eot');
    src: url('//cdn.jaicab.com/font/CooperHewitt-' + $path + '.eot?#iefix') format('embedded-opentype'),
         url('//cdn.jaicab.com/font/CooperHewitt-' + $path + '.woff') format('woff'),
         url('//cdn.jaicab.com/font/CooperHewitt-' + $path + '.svg#' + $path) format('svg');

    @if $bold{
      font-weight: $bold;
    }
    @if $italic{
      font-style: italic;
    }
  }

}

/*
@include ch("Book");
@include ch("Semibold", 700);

@include ch("BookItalic", 500, true);
@include ch("Heavy", 900);
@include ch("SemiboldItalic", 700, true);

@include ch("Light", 300);
*/

@import "base64";