
* {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}


html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html,
body {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  padding: 0;
  margin: 0;
  
  img {
    width: 100%;
    vertical-align: top;
  }
}

img {
  border: 0;
  max-width: 100%;
  width: auto;
  height: auto;
}


ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1em;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:active,
  &:hover {
    outline: 0;
  }
}

b,strong {
  font-weight: 600;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  tab-size: 2;
  line-height: 1;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
