<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Fetch DNS -->
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//cdn.jaicab.com">

    <!-- Prerender work page -->
    <link rel="prerender" href="{{ site.url }}/work/">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://jaicab.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jaicab_">
    <meta name="twitter:domain" content="jaicab.com">
    <meta name="twitter:creator" content="@jaicab">
    <meta name="twitter:title" content="{{ page.title }} – Jaime Caballero">
    {% if page.meta %}
        <meta name="twitter:description" content="{{ page.meta }}">
        <meta name="description" content="{{ page.meta }}">
    {% endif %}

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#069">
    <meta name="msapplication-TileImage" contet="/mstile.png">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script src="//cdn.jaicab.com/core-ck.js"></script>
</head>
