  <header role="banner" class="l-header l-header--main">
    <div class="l-header__top">
      <div class="wrap">
        <h1 class="l-header__author" itemprop="author publisher" itemscope itemtype="https://schema.org/Organization" id="author" itemid="{{ site.url }}">
          <link itemprop="logo" href="{{ site.url }}/images/logo.png"/>
          <meta itemprop="name" content="{{ site.fullname }}"/>
          <meta itemprop="alternateName" content="jaicab">
          <a itemprop="url" href="{{ site.url }}" class="c-logo">
            <object class="c-logo__image" data="/images/logo.svg" title="{{ site.title }}"  type="image/svg+xml">
              <img src="/images/logo.png" alt="Jaime Caballero logo">
            </object>
          </a>
        </h1>
        
        {% include nav.html %}
      </div>
    </div>
  </header>