  <header role="banner" class="l-header l-header--main">
    <div class="l-header__top">
      <div class="wrap">
        <span itemprop="author publisher" itemscope itemtype="https://schema.org/Organization" id="author" itemid="{{ site.url }}">
          <link itemprop="logo" href="{{ site.url }}/images/logo.svg">
          <meta itemprop="alternateName" content="jaicab">
          <a itemprop="url" itemprop="url" href="{{ site.url }}" id="logo" class="c-logo">
            <object class="c-logo__image" data="/images/logo.svg" title="{{ site.title }}"  type="image/svg+xml">
              <span itemprop="name">Jaime Caballero</span>
            </object>
          </a>
        </span>
        
        {% include nav.html %}
      </div>
    </div>
  </header>