
.c-pagination {
  @extend %font-secondary;
  overflow: hidden;
  text-transform: uppercase;
  margin: 1.5em 0;
  font-size: 1.2em;
}

.c-pagination__link {
  float: left;

  a {
    color: $color-bg;
    background: $color-brand-light;
    padding: .5em;
    display: inline-block;
    transition: .25s all;

    &:focus,
    &:hover {
      background: $color-brand;
    }

  }
}

.c-pagination__link--prev {
  a:before {
    content:'\00ab';
  }
}

.c-pagination__link--next {
  a:after {
    content:'\00bb';
  }
}
