.c-project-list {
	margin: 1rem 0;
}

.c-project__title {
	font-weight: normal;
	font-size: 1.2em;
}

.c-project__link {
	display: block;
}

.c-project__logo {
	max-width: 130px;
	max-height: 35px;
	width: auto;
	height: auto;
}

.c-project__content {
	margin: 1rem 0;
	font-size: .9em;
}

@include mq($from: medium) {
	.c-project-list {
		padding-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}
	.c-project {
		width: 28.33%;
		margin-right: 5%;
		margin-bottom: 1rem;
		float: left;
		flex: 0 0 auto;
	}
	.c-project__content {
		margin-top: .5rem;
		font-size: .75em;

		.text {
			line-height: 1.3;
		}
	}
}

@include mq($from: mediumx) {

	.c-project {
		width: 20%;
	}
}

@include mq($from: big) {
	.c-project {
		width: 28.33%;
	}
}