*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	background: $color-back;
	background-size: 100% auto;
	font: $font-size $font;
	line-height: 1.5;
	color: $color-text;

	// Removes 300ms delay on MS devices
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	@include bp(tablet-small) {
		font-size: 1.2em;
	}
}

img{
	max-width: 100%;
}

a img{
	display: block;
	border: none;
}

.wrap figure{
  margin: 0;
  padding: $margin $margin 0 $margin;
  background: white;

  img{
  	display: block;
  	width: 100%;
  }
}
figcaption{
	background: white;
	padding: $margin/2 $margin;
}

p{
	margin: 1em 0;
	a{
		font-weight: 700;
	}
}

b, strong{
	font-size: 700;
}

hr{
	border-top: none;
	border-bottom: 1px solid $color-main-2;
	margin: $margin*2;
}

a{
	color: $color-main;
	text-decoration: none;
	transition: 0.5s all;

	&:hover,
	&:active,
	&:focus{
		color: darken($color-main, 20%);
	}
}

ul{
	list-style: square;
	padding: 0 0 0 $margin;
}
li{
	& + &{
		margin-top: .5em;
	}
}


blockquote{
	border: 1px solid darken($color-back, 5%);
	border-left: $margin/2 solid $color-main;
	margin: $margin 0;
	padding: $margin/2 $margin;
	background: lighten($color-back, 20%);
	font-style: italic;
	font-weight: 500;
}


%header{
	font-weight: 300;
	margin: $margin 0 0 0;
	line-height: 1.2;
	color: $color-main;
}

h1, .h1{
	@extend %header;
	font-size: 2.2em;
}

h2, .h2{
	@extend %header;
	font-size: 1.8em;
}

h3, .h3{
	@extend %header;
	font-size: 1.4em;
}

h4, .h4{
	@extend %header;
	font-size: 1.2em;
}

h5, .h5{
	@extend %header;
	font-size: 1em;
}

h6, .h6{
	@extend %header;
	font-size: 0.8em;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


// Classes

%wrap{
	max-width: 1060px;
	margin: 0 auto;
}
.wrap{
	@extend %wrap;
}

.content,
%content{
	padding: 0 $margin;

	@include bp(mobile-big) {
		padding: $margin $margin*3;
	}

	@include bp(desktop-big) {
		padding: $margin $margin;
	}
}

.island{
	@include island();
}

.header-dark header{
	border-color: $color-main-2;
}

.header-darker header{
	border-color: $color-main-3;
}

