*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	background: $color-back;
	background-size: 100% auto;
	font: $font-size $font;
	line-height: 1.5;
	color: $color-text;
}

img{
	max-width: 100%;
}


a{
	color: $color-main;
	text-decoration: none;
	transition: 0.5s all;

	&:hover,
	&:active,
	&:focus{
		color: darken($color-main, 20%);
	}
}

ul{
	list-style: square;
	padding: 0 0 0 $margin;
}


%header{
	font-weight: 300;
	margin: 0;
	line-height: 1.2;
}

h1, .h1{
	@extend %header;
	font-size: 2em;
}

h2, .h2{
	@extend %header;
	font-size: 1.5em;
}

h3, .h3{
	@extend %header;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


// Classes

%wrap{
	max-width: 1100px;
	margin: 0 auto;
}
.wrap{
	@extend %wrap;
}

.header-dark header{
	border-color: $color-main-2;
}

.header-darker header{
	border-color: $color-main-3;
}

