*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	background: $color-back;
	background-size: 100% auto;
	font: $font-size $font;
	line-height: 1.5;
	color: $color-text;
}

img{
	max-width: 100%;
}


a{
	color: $color-main;
	text-decoration: none;
	transition: 0.5s all;

	&:hover,
	&:active,
	&:focus{
		color: darken($color-main, 20%);
	}
}

ul{
	list-style: square;
	padding: 0 0 0 $margin;
}


blockquote{
	border: 1px solid darken($color-back, 5%);
	border-left: $margin/2 solid $color-main;
	margin: $margin 0;
	padding: $margin/2 $margin;
	background: lighten($color-back, 20%);
	font-style: italic;
	font-weight: 500;
}


%header{
	font-weight: 300;
	margin: .75em 0 0 0;
	line-height: 1.2;
	color: $color-main;
}

h1, .h1{
	@extend %header;
	font-size: 2.4em;
}

h2, .h2{
	@extend %header;
	font-size: 1.6em;
}

h3, .h3{
	@extend %header;
	font-size: 1.2em;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


// Classes

%wrap{
	max-width: 1100px;
	margin: 0 auto;
}
.wrap{
	@extend %wrap;
}

.content,
%content{
	padding: 0 $margin;

	@include bp(mobile-big) {
		padding: $margin $margin*3;
	}

	@include bp(desktop-small) {
		padding: $margin;
	}
}

.header-dark header{
	border-color: $color-main-2;
}

.header-darker header{
	border-color: $color-main-3;
}

