.header-dark .post-header{
	background: $color-main-2;

	h1{
		color: inherit;
	}
}

.skills__title{
	margin: $margin/2 $margin/2 0 0;
	display: inline-block;
}

.skills__level{
	@extend .h5;
	color: $color-text;
	margin: 0;
	display: inline-block;
}

.skills__quote{
	position: relative;
	display: none;
	margin: 0;
	background: white;
	padding: $margin;
}

.skills__list{
	padding-top: 0;
	margin-top: $margin/2;
}


@include bp(mobile-big) {
	.skills__quote{
		font-style: italic;
		margin-top: $margin/2;
		display: block;

		&::before{
			content: '';
			position: absolute;
			bottom: 100%;
			right: 0;
			border-left: $margin*2 solid transparent;
			border-bottom: $margin*2 solid white;
		}
	}
	
}

@include bp(mobile-big) {
	.skills__title{
		display: block;
	}
}