$device-speed: 1s;
$device-delay: 1s;
$device-thick: 1em;
$device-color: #069;
$device-back: #f2f2f2;

$mobile-width: 7em;
$mobile-height: $mobile-width*2;
$mobile-round: $mobile-width/5;

$tablet-width: $mobile-width*2;
$tablet-height: $tablet-width*4/3;
$tablet-round: $tablet-width/10;

$desktop-width: $tablet-width*1.5;
$desktop-height: $desktop-width*10/16;
$desktop-round: $desktop-width/20;

@keyframes deviceToTablet{
  100%{
    width: $tablet-width;
    height: $tablet-height;
    border-radius: $tablet-round;
    transform: rotate(-270deg);
  }
}

@keyframes deviceToDesktop{
  0%{
    transform: rotate(-270deg);
  }
  50%{
    background-color: $device-color;
  }
  100%{
    width: $desktop-width;
    height: $desktop-height;
    border-radius: $desktop-round;
    transform: rotate(0deg);
    background-color: $device-color;
    box-shadow: 0 0 0 $device-thick $device-back inset;
  }
}

@keyframes screenToTablet{
  100%{
    width: $tablet-width - $device-thick*4;
    height: $tablet-height - $device-thick*5;
    top: $tablet-height/7;
  }
}

@keyframes screenToDesktop{
  0%{
    z-index: -10;
  }
  100%{
    z-index: -10;
    width: $desktop-width/8;
    height: $desktop-height/8;
    top: 100%;
  }
}


@keyframes buttonToDesktop{
  0%{
    border-radius: 0;
  }
  100%{
    border-radius: 0;
    bottom: -$desktop-height/6;
    width: $desktop-width/4;
    height: $device-thick;
  }
}


.demo{
  height: 400px;
  position: relative;
}

.device{
  width: $mobile-width;
  height: $mobile-height;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  border-radius: $mobile-round;
    
  border: $device-thick/2 solid $device-color;
  
  &::before,
  &::after{
    content: '';
    position: absolute;
    margin: auto;
    background: $device-color;
  }
  
  //Screen
  &::before{
    width: $mobile-width - $device-thick*2;
    height: $mobile-height*2/3;
    top: $mobile-height/7;
    left: 0; right: 0;
    
    animation: screenToTablet $device-speed $device-delay forwards,
      screenToDesktop $device-speed ($device-delay*2 + $device-speed) forwards;
  }
  
  //Button
  &::after{
    width: $mobile-width/5;
    height: $mobile-width/5;
    border-radius: $mobile-width/5;
    left: 0; right: 0;
    bottom: $mobile-width/20;
    border: 0 solid $device-color;
    
    animation: buttonToDesktop $device-speed ($device-delay*2 + $device-speed) forwards;
  }
  
  animation: deviceToTablet $device-speed $device-delay forwards,
    deviceToDesktop $device-speed ($device-delay*2 + $device-speed) forwards;
}