

.footer{
	clear: both;
	font-size: $font-size-small;
	font-weight: 300;
	padding: $margin;
	background: $color-alt;
	color: $color-back;
	margin-top: $margin;

	a{
		color: inherit;
		text-decoration: underline;
		font-weight: 500;

		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
		}
	}
}

.footer__copyright{
	display: inline-block;
	float: right;
}