

.grid{
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

%g{
	float:left;
}

.g--half{
	@extend %g;
	width: 50%;
}


@include bp(tablet-big) {

	.g--third{
		float: left;
		width: 33.33%;
		padding-right: $margin;
	}

	.grid .g--third:nth-child(3n){
		padding-right: 0;
	}

}

@include bp(desktop-small) {

	.g--two-thirds{
		float: left;
		width: 70%;
	}

	.g--one-third{
		float: left;
		width: 30%;
	}
}