

.grid{
	&::after{
		content: '';
		display: table;
	}
}

%g{
	float:left;
}

.g--half{
	@extend %g;
	width: 50%;
}


@include bp(tablet-big) {

	.g--two-thirds{
		float: left;
		width: 50%;
	}

	.g--one-third{
		float: left;
		width: 50%;
	}

}

@include bp(desktop-small) {

	.g--two-thirds{
		width: 65%;
	}

	.g--one-third{
		width: 35%;
	}

}