

.page-nav{
	font-weight: 900;
	text-align: center;
	line-height: 2;

	@for $i from 1 to 4{
		li:nth-child(#{$i}){
			background: darken($color-main, 10% * $i);
		}
	}


	@include bp(mobile-small) {
		width: 70%;
		float: right;
		line-height: 3;

		li{
			width: 50%;
			float: left;
		}
	}

	@include bp(desktop-small) {
		width: auto;
		float: right;
		line-height: 2;
		font-size: 1.2em;

		li{
			width: auto;
		}
	}
}

.page-nav__link{
	display: block;
	color: $color-back;
	padding-top: $margin/2;

	box-shadow: 0 0 $color-back inset;

	transition:  box-shadow .25s;

	&:hover,
	&:focus,
	&:active{
		transition: color .25s,  box-shadow 0.5s 0 cubic-bezier(.06,.94,.66,1.63);

		box-shadow: 0 (-$font-size*3) $color-back inset;
		color: $color-main;
	}

	@include bp(desktop-small) {
		padding: $margin*3 $margin*2 $margin/2 $margin*2;
	}
}