

.site-nav{
	font-weight: 900;
	text-align: center;
	line-height: 2;

	@include bp(mobile-small) {
		width: 70%;
		float: right;
		line-height: 3;

		li{
			width: 50%;
			float: left;
		}
	}

	@include bp(desktop-small) {
		width: auto;
		float: right;
		line-height: 2;
		font-size: 1.2em;

		li{
			width: auto;
		}
	}
}

%site-nav__link{
	display: block;
	color: $color-back;
	padding-top: $margin/2;

	box-shadow: 0 0 $color-back inset;

	transition: background-color .25s;

	&:hover,
	&:focus,
	&:active{
		background-color: $color-back !important;
		color: $color-main;
	}

	@include bp(desktop-small) {
		text-transform: lowercase;
		padding: $margin*2 $margin*2 $margin/2 $margin*2;
		color: $color-main;
		background: none !important;
		box-shadow: 0 0 $color-main inset;
		transition: color .1s,  box-shadow 0.2s 0 ease-out;

		&:hover,
		&:focus,
		&:active{
			box-shadow: 0 ($font-size*4) $color-main inset;
			color: $color-back;
		}
	}
}


.site-nav__about{ 
	@extend %site-nav__link;
	background: $color-main-2;
}
.site-nav__work{
	@extend %site-nav__link;
	background: $color-main-3; 
}


@include bp(desktop-small) {
	.header-dark .site-nav__about{
		background: $color-main-2 !important;
		color: $color-back;
		box-shadow: 0 0 transparent !important;
	}

	.header-darker .site-nav__work{
		background: $color-main-3 !important;
		color: $color-back;
		box-shadow: 0 0 transparent !important;
	}
}