

.posts{
	list-style: none;
	padding: 0;
	margin: 0;
	text-shadow: 0 1px 0 $color-main-3;
	transition: all .5s;
}

@keyframes posts {
	0%{
		transform: translateX(-50%);
	}
	100%{
		transform: translateZ(0);
	}
}

// Magic happens
@for $i from 1 to 11{
	.posts .post__link:nth-child(#{$i}){
		background: darken(lighten($color-main, 15%), 4% * $i);
	}
}

@include bp(tablet-big) {
	@for $i from 1 to 11{

		.posts .post__link:nth-child(#{$i}){
			animation: posts ($i*0.9)*0.3s ease-out;
		}

	}

	.post__link{

		&:hover,
		&:active,
		&:focus{
			transform: scale(1.05);
			box-shadow: 0 0 $margin $color-alt;
		}
	}
}

.post__link{
	color: $color-back;
	background: $color-main;
	padding: $margin $margin $margin 0;
	transition: 0.25s all;


	@include bp(desktop-small) {
		margin-left: -800px;
		padding-left: 800px;
	}
}

.post__time{
	font-weight: 300;
	display: block;
	text-align: right;
}

.post__link a{
	display: inline-block;
	color: $color-back;
	margin-left: $margin/2; //fixes the padding and mantains the isle

	.header-dark .post_link:nth-child(1){
		background: $color-main-2;
	}

	.header-darker .post_link:nth-child(3){
		background: $color-main-3;
	}


	&:hover,
	&:active,
	&:focus{
		text-decoration: underline;
	}
}