

.posts{
	list-style: none;
	padding: 0;
	margin: 0;
	background: $color-main;
	text-shadow: 0 1px 0 $color-main-3;

	@for $i from 1 to 12{
		.post__link:nth-child(#{$i}){
			background: lighten($color-main-3, 5% * $i);
		}
	}
}

.post__link{
	color: $color-back;
	padding: $margin $margin $margin 0;

	&:hover,
	&:active,
	&:focus{
		background: $color-alt !important;
	}

	@include bp(desktop-small) {
		margin-left: -700px;
		padding-left: 700px;
	}
}

.post__time{
	font-weight: 300;
	display: block;
	text-align: right;
}

.post__link a{
	display: block;
	color: $color-back;
	padding-left: $margin/2; //fixes the padding and mantains the isle
}