.header-darker .post-header{
	background: $color-main-3;

	h1{
		color: inherit;
	}
}
.portfolio{
	padding: $margin;
}
.project{
	margin-bottom: $margin;
	overflow: auto;
	background: white;
}
.project__info{
	padding: $margin;
}

.project__cover{
	margin: $margin $margin 0 $margin;
	position: relative;
	overflow: hidden;

	img{
		width: 100%;
	}

	a{		
		&::before{
			content: 'Case study';
			vertical-align: middle;
   			text-align: center;
			margin: auto;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			
			padding-top: 25%;

			transition: color .1s, box-shadow .1s .1s, background 0.2s;

			box-shadow: 0 0 0 $color-main inset,
			 0 0 0 $color-main-2 inset,
			 0 0 0 $color-main-3 inset;
			z-index: 100;
			color: transparent;
		}
		&:hover::before,
		&:active::before,
		&:focus::before{
			box-shadow: 0 0 0 $margin*1.5 $color-main inset,
				0 0 0 $margin*3 $color-main-2 inset,
				0 0 0 $margin*4.5 $color-main-3 inset;
			color: $color-back;
			background: darken($color-main-3, 10%);
			transition: box-shadow .4s, color .2s .1s, background .4s .1s;
		}
	}
}

.project__title{
	@extend .h3;
	margin: 0;
}

.project__done{
	@extend .h5;
	margin: 0;
}


@include bp(desktop-small) {
	.project{
		margin-bottom: $margin*2;
	}
	.project__cover{
		margin: 1px;
	}
}
