---
layout: default
---

<div class="wrap grid home">
  <section class="home__section g--two-thirds"> 

    {{ content }}

  </section>
  <aside class="home__aside g--one-third g-padding-left">

	<div class="state state--good">Looking for full-time position in London</div>

    <p>Hi, I'm Jaime. I <a href="/">write</a>, <a href="http://twitter.com/{{site.twitter}}">tweet</a>, <a href="http://github.com/{{ site.username }}">share code</a> and <a href="http://codepen.io/{{ site.username }}/">do experiments</a> about CSS and the latest, cutting edge technologies for the web.</p>

    <p>I created <a title="Paraxify - Progressive enhancement parallax" href="/Paraxify.js/">Paraxify.js</a>, the <b>lightest</b> parallax plugin that <b>enhances progressively</b> from basic background images to a nice parallax effect.</p>

  </aside>
</div>
