---
layout: default
---

<div class="wrap grid home">
  <section class="home__section g--two-thirds"> 

    {{ content }}

  </section>
  <aside class="home__aside g--one-third g-padding-left">

	<div class="state">Working at <a rel="external" target="_blank" href="http://basecreative.co.uk">Base Creative</a>, London</div>

    <p>Hi, I'm Jaime. I <a href="/">write</a>, <a href="http://twitter.com/{{site.twitter}}">tweet</a>, <a href="http://github.com/{{ site.username }}">share code</a> and <a href="http://codepen.io/{{ site.username }}/">do experiments</a> about Sass, web performance and more.</p>

    <p>I've built a few things and put them on github:</p>
	<ul>
    <li><a title="localFont - Implement localStorage caching for web font loading in seconds" href="/localFont/">localFont</a></li>
    <li><a title="vary - Sass theming made easy" href="/sass-vary/">sass-vary</a></li>
		<li><a title="ext(); - The ext(); mixin sets a selector budget and controls duplicates on Sass' @extend directive." href="/sass-ext/">sass-ext</a></li>
		<li><a title="Paraxify - Progressive enhancement parallax" href="/Paraxify.js/">Paraxify.js</a></li>
	</ul>

  </aside>
</div>
