---
layout: default
schema: Article
---

<article role="article" class="l-main t-post">
  <div class="wrap">
    
    <header class="t-post__header">
        <h1 class="t-post__title" itemprop="headline name">{{ page.title }}</h1>
        <div class="t-post__details">
          <time itemprop="datePublished" class="t-post__date" datetime="{{ page.date }}">
{% assign d = page.date | date: "%-d" %} 
{% assign m = page.date | date: "%B" %} 
{% case m %}
  {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
  {% when 'September' %}Sept.
  {% else %}{{ page.date | date: "%b" }}.
  {% endcase %}
{% case d %}
  {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %} 
{{ page.date | date: "%Y" }}
</time> 
        </div>
      </header>
      
      <main class="text" itemprop="articleBody">
        {{ content }}
      </main>

      <meta itemprop="author publisher" content="{{ site.fullname }}">

      <footer class="t-post__footer">

        
      </footer>

    </div>
  </div>
</article>