---
layout: default
---
<div class="">

	<div class="wrap">
		<header class="post-header island">
			<h1 class="post-header__title">{{ page.title }}</h1>
		</header>
	</div>

  <article class="">
  	<div class="wrap">
  		<p>Right now I'm working at <a rel="external" target="_blank" href="http://basecreative.github.io/basecreative.co.uk">Base Creative</a>, so go check out the work I've done there. The following projects were done back in Spain, when I first started freelancing:</p>
  	</div>
  	{{ content }}
  </article>

</div>
