---
layout: default
meta: Articles about frontend development, design, Sass, web performance and more.
title: I have something to share.
microtitle: Articles
schema: Blog
---

{% if paginator.page == 1 %}
{% for post in site.posts limit: 2 %}
<link rel="prerender" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
{% endfor %}
{% endif %}

<div class="t-blog">
  <div class="u-wrap">
    <div class="s-text">
      <h1 class="t-blog__title" id="skip" tabindex="-1">{{ page.title }}</h1>
    </div>

    <main class="t-blog__main" role="main">

      <h2 class="t-blog__subtitle">Posts</h2>
      <ul class="c-post-list">
        {% for post in paginator.posts %}
          <li class="c-post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemid="{{ post.url | prepend: site.baseurl | prepend: site.url }}" itemref="author">
            <a itemprop="url" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
              <h3 class="c-post__title"><span class="visuallyhidden">Read more about </span><span itemprop="headline name">{{ post.title }}</span></h3>
              <time itemprop="datePublished" class="c-post__date" datetime="{{ post.date }}">
  {% assign d = post.date | date: "%-d" %}
  {% assign m = post.date | date: "%B" %}
  {% case m %}
    {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
    {% when 'September' %}Sept.
    {% else %}{{ post.date | date: "%b" }}.
    {% endcase %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ post.date | date: "%Y" }}
              </time>
              <p itemprop="description" class="c-post__desc">{{post.meta}}.</p>
            </a>
          </li>
        {% endfor %}
      </ul>

      <ol class="c-pagination">
        {% if paginator.previous_page %}
        <li class="c-pagination__link c-pagination__link--prev">
            <a href="{{ paginator.previous_page_path }}">Prev.</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="c-pagination__link c-pagination__link--next">
            <a href="{{ paginator.next_page_path }}">Next</a>
        </li>
        {% endif %}
      </ol>
    </main>

    <aside class="t-blog__side" role="complementary">
      <h2 class="t-blog__subtitle">Links</h2>
      <ul class="c-link-list">
        {% for link in site.data.links limit:10 %}
          <li class="c-link">
            <h4 class="c-link__title"><a href="{{ link.link }}" target="_blank" rel="external">
              {{ link.title }}
            </a></h4>
            <h5 class="c-link__on">{{ link.origin }}</h5>
            <time class="c-link__date" datetime="{{ link.date }}">{{ link.date | date: "%-d.%-m.%y" }}</time>
          </li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</div>
